.top {
	color : gold;
	padding : 0;
	background-color: rgb(200, 200, 200);
	text-align: center;
	font-size: 150%;
	#height: 100px;
}

#top_side{
	background-color: #555;
	color: white;

}


.side {
	background-color: #f1f1f1;
	height: 100%;
}

.bar{
	text-align: right;
}



body {
	text-align: center;
	background-color: rgb(200, 200, 200);
}

.body{
	/**background-color: purple; **/
}



 /* unvisited link */
a:link {
    color : purple;
	font-size : 100%;
}

/* visited link */
a:visited {
    color: purple;
	text-decoration : none;
}

/* mouse over link */
a:hover {
    color: gold;
	text-decoration: none;
}

/* selected link */
a:active {
    color: white;
	text-decoration : none;
}


.pics{
	margin: 100px;
}

.img_row{
	margin-bottom: 50px;
}

.buttons{
	padding: 100px;
}
.buttons a{
	width: auto;
	height: auto;
	font-size: 300%;
	background-color: purple;
	
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	
}

.buttons a:hover{
	text-decoration: none;
	color: white;
	background-color: gold;
}

.buttons a:visited{
	text-decoration: none;
	color: white;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/**** Format for the Tic Tac Toe Game specific contents ******/
div.game_area{
	padding: 100px;
	margin: 10px;
	background-color: greenyellow;
	height: 700px;
	text-align: center;
}

div.game_area button{
	color: darkgreen;
	background-color:  white;
	padding: 32px 16px;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	width: 150px;
	height: 130px;
	border: 1px solid darkgreen;

	/*margin: 10px 10px 10px 10px;*/
}

div.game_area button:hover {
	background-color: rgb(200, 200, 200);
}







